@page "/aboutpage"

<div style="width: 500px; height: 500px;" class="m-auto">
    <iframe width="500" height="500" src="https://www.youtube.com/embed/DLzxrzFCyOs?hl=en_US&version=3&rel=0&autoplay=1" allowfullscreen></iframe>
</div>

@code {
    
}