@page "/listwarehouses"

@inject IWarehouseService WarehouseService

<h3>Raktarak</h3>

@if (_warehouses is null)
{
     <p>betoltes...</p>
}
else
{
     <table class="table table-hover">
          <thead>
               <tr>
                    <th>Nev</th>
                    <th>Varos</th>
                    <th>Cim</th>
                    <th>Kapacitas</th>
                    <th colspan="2"></th>
               </tr>
          </thead>
          <tbody>
               @foreach (var warehouse in _warehouses)
               {
                    <tr>
                         <td>@warehouse.Nev</td>
                         <td>@warehouse.Varos</td>
                         <td>@warehouse.Cim</td>
                         <td>@warehouse.Kapacitas</td>
                         <td>
                              <a class="btn btn-secondary" href="warehousedetails/@warehouse.Id">Raktar reszletei</a>
                         </td>
                         <td>
                              <a class="btn btn-secondary" href="addcomponent/@warehouse.Id">Uj termek felvete</a>
                         </td>
                    </tr>
               }
          </tbody>
     </table>
}

@code {
     
     private List<WarehouseDto> _warehouses;

     protected override async Task OnInitializedAsync()
     {
          _warehouses = (await WarehouseService.GetAllWarehousesAsync()).ToList();
     }

}